{
    "openapi": "3.0.0",
    "x-stoplight": {
        "id": "sjv3ev4jzsfqj"
    },
    "info": {
        "title": "Ideashop API",
        "description": "<div class=\"apidoc-icons\"><div class=\"apidoc-icons-item\"><a href=\"javascript:void(0)\" class=\"faq-button\" title=\"Sıkça Sorulan Sorular\"><div class=\"apidoc-icons-img\"><img src=\"https://apidoc.ideasoft.com.tr/images/help-icon-4.png\" alt=\"Sıkça Sorulan Sorular\"></div><h4>Sıkça Sorulan Sorular</h4></a><p>Sizlerden sıkça gelen sorulan soruları buradan görüntüleyerek, sorularınıza daha hızlı cevap bulabilirsiniz.</p></div><div class=\"apidoc-icons-item\"><a href=\"mailto:techsupport@ideasoft.com.tr\" title=\"Destek Sistemi\"><div class=\"apidoc-icons-img\"><img src=\"https://apidoc.ideasoft.com.tr/images/help-icon-5.png\" alt=\"Destek Sistemi\"></div><h4>Destek Sistemi</h4></a><p>API ile ilgili tüm sorularınız için bizimle <a href=\"mailto: apisupport@ideasoft.com.tr\"> apisupport@ideasoft.com.tr</a> adresimiz üzerinden iletişime geçebilirsiniz. Sizlere yardımcı olmaktan mutluluk duyarız.</p></div></div><p>IdeaSoft API kullanmak için ihtiyaç duyacağınız bilgileri bu dökümanda sizler için topladık. Navigasyon bölmesinden bilgi almak istediğiniz servislere gidebilir örnek istekleri, cevapları ve istek parametrelerini detaylıca görebilirsiniz. Servisin size dönmüş olduğu cevaptaki ilgili nesneyi cevaplar kısmında nesnenin ismine tıklayarak detaylı bir şekilde inceleyebilir her bir özelliğiyle ilgili detaylı açıklamalar bulabilirsiniz.</p>",
        "termsOfService": "https://www.ideasoft.com.tr/sayfa/iletisim",
        "contact": {
            "name": "Ideasoft API Support",
            "url": "https://www.ideasoft.com.tr/destek",
            "email": "apisupport@ideasoft.com.tr"
        },
        "version": "3.2.0"
    },
    "servers": [
        {
            "url": "https://magaza-adiniz.myideasoft.com"
        }
    ],
    "paths": {
        "/api/account_informations": {
            "get": {
                "tags": [
                    "AccountInformation"
                ],
                "summary": "AccountInformation GET",
                "description": "AccountInformation getAction",
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "ruabn0umfav1c"
                }
            }
        },
        "/api/billing_addresses": {
            "get": {
                "tags": [
                    "BillingAddress"
                ],
                "summary": "BillingAddress LIST",
                "description": "BillingAddress cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": {
                            "Sıralama değeri. Örnek": "Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>"
                        },
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada görüntülenecek Billing Address sayısı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Başlanacak sayfa numarası",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Belirtilen id değerinden sonraki kayıtları getirir",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu Billing Address listeleme için virgülle ayrılmış id değerleri <code>ids=1,2,3,4</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order Id filtresi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Start of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "End of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "startUpdatedAt",
                        "in": "query",
                        "description": "Start of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "endUpdatedAt",
                        "in": "query",
                        "description": "End of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "4df16e0s4e5a0"
                }
            },
            "post": {
                "tags": [
                    "BillingAddress"
                ],
                "summary": "BillingAddress POST",
                "description": "BillingAddress postAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BillingAddress"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Oluşturma işlemi (POST) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BillingAddress"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "lkyvl19c9ow57"
                }
            }
        },
        "/api/billing_addresses/{id}": {
            "get": {
                "tags": [
                    "BillingAddress"
                ],
                "summary": "BillingAddress GET",
                "description": "BillingAddress getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BillingAddress"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "tsgoktn2vu8tt"
                }
            },
            "put": {
                "tags": [
                    "BillingAddress"
                ],
                "summary": "BillingAddress PUT",
                "description": "BillingAddress putAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BillingAddress"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BillingAddress"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "wdhefrnt7tlr1"
                }
            }
        },
        "/api/brands": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Brand LIST",
                "description": "Tüm Marka (Brand) nesnelerini filtreleyerek ve sayfalandırarak listeler. Sıralama (`sort`), sayfalama (`limit`, `page`), tekil veya çoklu ID (`id`, `ids`, `sinceId`) ve arama (`q`, `s`) parametreleriyle özelleştirilebilir.",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sonuçların hangi alana göre sıralanacağını belirler. Artan (ascending) sıralama için alan adını (`id`), azalan (descending) sıralama için ise başına eksi işareti (`-`) ekleyin.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "-sortOrder"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada döndürülecek maksimum kayıt adedi.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        },
                        "example": 50
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Getirilecek sonuçların sayfa numarası.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Belirtilen ID değerinden **daha büyük ID'ye sahip** (sonraki) kayıtları getirir.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "example": 100
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış **benzersiz kimlik değerleri (IDs)** listesi.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "1,2,3,4"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Brand Name.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status can be 0 or 1",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    },
                    {
                        "name": "distributor",
                        "in": "query",
                        "description": "Markanın ilişkili olduğu **Tedarikçiye (Distributor)** göre filtreleme yapar.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Super Tedarik"
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Start of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "End of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "startUpdatedAt",
                        "in": "query",
                        "description": "Start of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "endUpdatedAt",
                        "in": "query",
                        "description": "End of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Gelişmiş Filtreleme (Query Filter). Alan bazlı kesin filtreleme yapmak için kullanılır. Kullanım: `q[<alan_adı>]=<değer>`",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "q[status]=1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "omblcz04zbjmv"
                }
            },
            "post": {
                "tags": [
                    "Brand"
                ],
                "summary": "Brand POST",
                "description": "Brand postAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Brand"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Oluşturma işlemi (POST) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Brand"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "e0m8ccuwlh5l5"
                }
            }
        },
        "/api/brands/{id}": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Brand GET",
                "description": "Brand getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Brand"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "x6gatgro6zrss"
                }
            },
            "put": {
                "tags": [
                    "Brand"
                ],
                "summary": "Brand PUT",
                "description": "Brand putAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Brand"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Brand"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "8yop761bu9c95"
                }
            },
            "delete": {
                "tags": [
                    "Brand"
                ],
                "summary": "Brand DELETE",
                "description": "Brand deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Silme isteği başarı ile sonuçlandı. (cevapta içerik bulunmaz.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Brand"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "ucsaf9p3x01qi"
                }
            }
        },
        "/api/cache": {
            "delete": {
                "tags": [
                    "Cache"
                ],
                "summary": "Cache DELETE",
                "description": "Cache deleteAction",
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "jt36rucoutl04"
                }
            }
        },
        "/api/carts": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart POST",
                "description": "Cart postAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Cart"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Oluşturma işlemi (POST) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cart"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "si7twfxlbgu08"
                }
            }
        },
        "/api/carts/{id}": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart GET",
                "description": "Cart getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sepet nesnesinin **benzersiz kimlik değeri (ID)**.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        },
                        "example": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cart"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "qjsjqt3y2rk9y"
                }
            },
            "delete": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart DELETE",
                "description": "Cart deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sepet nesnesinin **benzersiz kimlik değeri (ID)**.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        },
                        "example": 100
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Silme isteği başarı ile sonuçlandı. (cevapta içerik bulunmaz.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cart"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "jllha4o44evwf"
                }
            }
        },
        "/api/cart_items": {
            "post": {
                "tags": [
                    "CartItem"
                ],
                "summary": "CartItem POST",
                "description": "CartItem postAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CartItem"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Oluşturma işlemi (POST) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CartItem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "2odpjo3055s5i"
                }
            }
        },
        "/api/cart_items/{id}": {
            "put": {
                "tags": [
                    "CartItem"
                ],
                "summary": "CartItem PUT",
                "description": "CartItem putAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sepet Kalemi nesnesinin id değeri",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "r0vmbcfcmpx56"
                }
            },
            "delete": {
                "tags": [
                    "CartItem"
                ],
                "summary": "CartItem DELETE",
                "description": "CartItem deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sepet Kalemi nesnesinin id değeri",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Silme isteği başarı ile sonuçlandı. (cevapta içerik bulunmaz.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CartItem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "dx5gute8fmuxl"
                }
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Category LIST",
                "description": "Category cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek Categories adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Yalnızca belirtilen id değerinden sonraki kayıtları getirir",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Category Name.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Category status search filter",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    },
                    {
                        "name": "distributor",
                        "in": "query",
                        "description": "Category Distributor",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "parent",
                        "in": "query",
                        "description": "Parent Id",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": {
                            "Category arama filtresi. Kullanımı": "q[<geçerli-query-param>]"
                        },
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Start of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "End of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "startUpdatedAt",
                        "in": "query",
                        "description": "updatedAt değeri için başlangıç tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "endUpdatedAt",
                        "in": "query",
                        "description": "updatedAt değeri için bitiş tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "ovvbnoui2pfwc"
                }
            },
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Category POST",
                "description": "Category postAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Category"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Oluşturma işlemi (POST) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Category"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "garlz2fbna6gs"
                }
            }
        },
        "/api/categories/{id}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Category GET",
                "description": "Category getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Getirilecek Category ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Category"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "gv3lmf1dafx0l"
                }
            },
            "put": {
                "tags": [
                    "Category"
                ],
                "summary": "Category PUT",
                "description": "Category putAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Güncellenecek Category ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Category"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Category"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "g5w7pluzlr7lo"
                }
            },
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "Category DELETE",
                "description": "Category deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Silinecek Category ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Silme isteği başarı ile sonuçlandı. (cevapta içerik bulunmaz.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Category"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "ufonm8iz150us"
                }
            }
        },
        "/api/combine_products": {
            "get": {
                "tags": [
                    "CombineProduct"
                ],
                "summary": "CombineProduct LIST",
                "description": "Tüm Kombin Ürün (CombineProduct) ilişkilerini filtreleyerek ve sayfalandırarak listeler. Sıralama (`sort`), sayfalama (`limit`, `page`), tekil veya çoklu ID (`id`, `ids`, `sinceId`) ve arama (`q`, `s`) parametreleriyle özelleştirilebilir.",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sonuçların hangi alana göre sıralanacağını belirler. Artan (ascending) sıralama için alan adını (`id`), azalan (descending) sıralama için ise başına eksi işareti (`-`) ekleyin.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "-id"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada döndürülecek maksimum kayıt adedi.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        },
                        "example": 50
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Getirilecek sonuçların sayfa numarası.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tek bir kayıt getirmek için kullanılan **benzersiz kimlik değeri (ID)**.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "example": 123
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış **benzersiz kimlik değerleri (IDs)** listesi.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "1,2,3,4"
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Belirtilen ID değerinden **daha büyük ID'ye sahip** (sonraki) kayıtları getirir.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "example": 100
                    },
                    {
                        "name": "product",
                        "in": "query",
                        "description": "İlişkinin **Birincil Ürün ID'sine** göre filtreleme yapar.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "example": 456
                    },
                    {
                        "name": "combineproduct",
                        "in": "query",
                        "description": "Combine Product Id",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Gelişmiş Filtreleme (Query Filter)**. Alan bazlı kesin filtreleme yapmak için kullanılır. Kullanım: `q[<alan_adı>]=<değer>`",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "q[product]=456"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "9voz7skjp1a42"
                }
            },
            "post": {
                "tags": [
                    "CombineProduct"
                ],
                "summary": "CombineProduct POST",
                "description": "CombineProduct postAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CombineProduct"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Oluşturma işlemi (POST) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CombineProduct"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "c0iev2hg5ej98"
                }
            }
        },
        "/api/combine_products/{id}": {
            "get": {
                "tags": [
                    "CombineProduct"
                ],
                "summary": "CombineProduct GET",
                "description": "CombineProduct getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CombineProduct"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "0wek60856bgzg"
                }
            },
            "put": {
                "tags": [
                    "CombineProduct"
                ],
                "summary": "CombineProduct PUT",
                "description": "CombineProduct putAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CombineProduct"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CombineProduct"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "f9nflcl3dnf2b"
                }
            },
            "delete": {
                "tags": [
                    "CombineProduct"
                ],
                "summary": "CombineProduct DELETE",
                "description": "CombineProduct deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Silme isteği başarı ile sonuçlandı. (cevapta içerik bulunmaz.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CombineProduct"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "xvoae2uqqyjbe"
                }
            }
        },
        "/api/countries": {
            "get": {
                "tags": [
                    "Country"
                ],
                "summary": "Country LIST",
                "description": "Country cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>.\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "sort=-id"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek Countries adedi.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        },
                        "example": 50
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Yalnızca belirtilen id değerinden sonraki kayıtları getirir.\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "example": 100
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "1,2,3,4"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Country Name.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Country status arama filtresi.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1"
                            ]
                        },
                        "example": "1"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Country arama filtresi. Kullanımı: <code>q[&lt;geçerli-query-parametresi&gt;]</code>\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": {
                            "q[name]": "Turkey"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "gns8znz9slt3b"
                }
            }
        },
        "/api/countries/{id}": {
            "get": {
                "tags": [
                    "Country"
                ],
                "summary": "Country GET",
                "description": "Country getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Country"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "6yv0skg67opyp"
                }
            },
            "put": {
                "tags": [
                    "Country"
                ],
                "summary": "Country PUT",
                "description": "Country putAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Country"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Country"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "kpp2uvogc19v9"
                }
            }
        },
        "/api/currencies": {
            "get": {
                "tags": [
                    "Currency"
                ],
                "summary": "Currency LIST",
                "description": "Bu endpoint, sistemdeki dövizleri listelemek ve çeşitli kriterlere göre filtrelemek için kullanılır.   Sıralama (`sort`), sayfalama (`limit`, `page`), tekil veya çoklu ID (`id`, `ids`, `sinceId`) ve arama (`q`, `s`) parametreleriyle özelleştirilebilir.\n",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sonuçların sıralama biçimi.   Örnek: Artan sıra için `sort=id`, azalan sıra için `sort=-id`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Sayfa başına döndürülecek Currency sayısı. Varsayılan 20",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı. Varsayılan 1",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Belirtilen ID değerinden sonraki kayıtları getirir",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu döviz kaydını aynı anda getirmek için virgülle ayrılmış ID listesi.   Örnek: `ids=1,2,3,4`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "label",
                        "in": "query",
                        "description": "Currency Label.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "abbr",
                        "in": "query",
                        "description": "Currency abbr",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status can be 0 or 1",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "dz14m8xfzyoq5"
                }
            }
        },
        "/api/currencies/{id}": {
            "get": {
                "tags": [
                    "Currency"
                ],
                "summary": "Currency GET",
                "description": "Belirtilen ID ile eşleşen döviz kaydını döndürür.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Döviz kaydının ID değeri",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Currency"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "lf0r3dj6djcm5"
                }
            },
            "put": {
                "tags": [
                    "Currency"
                ],
                "summary": "Currency PUT",
                "description": "Belirtilen döviz kaydını günceller ve log kaydı oluşturur.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Güncellenecek döviz kaydının ID değeri",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Currency"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Currency"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "tyhtl4pqqa5n9"
                }
            }
        },
        "/api/current_accounts": {
            "get": {
                "tags": [
                    "CurrentAccount"
                ],
                "summary": "CurrentAccount LIST",
                "description": "Bu endpoint, mevcut (current) hesap kayıtlarını listelemek veya belirli kriterlere göre filtrelemek için kullanılır.   Listeleme işlemi, sayfalama (`limit`, `page`), sıralama (`sort`), ID bazlı filtreleme (`id`, `ids`, `sinceId`) ve arama (`q`, `s`) parametreleriyle özelleştirilebilir.\n",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama parametresi.   - Artan sıralama için: `sort=id`   - Azalan sıralama için: `sort=-id`   Birden fazla alanla sıralama yapmak için virgülle ayırabilirsiniz.   **Örnek:** `sort=-createdAt,name`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Sayfa başına döndürülecek maksimum Current Account sayısı.   **Varsayılan:** 20   **Örnek:** `limit=50`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Listelenecek sayfa numarası.   **Varsayılan:** 1   **Örnek:** `page=2`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Belirtilen ID değerinden sonraki kayıtları getirir.   Özellikle sonsuz kaydırma (infinite scroll) gibi senaryolarda kullanılır.   **Örnek:** `sinceId=100`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Birden fazla Current Account kaydını aynı anda listelemek için virgülle ayrılmış ID değerleri.   **Örnek:** `ids=1,2,3,4`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "CurrentAccount Code.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "CurrentAccount Title.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Start of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "End of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "startUpdatedAt",
                        "in": "query",
                        "description": "Start of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "endUpdatedAt",
                        "in": "query",
                        "description": "End of the time frame",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "yyyy-mm-dd hh:mm:ss"
                        }
                    },
                    {
                        "name": "member",
                        "in": "query",
                        "description": "İlgili **member (üye)** kimliğine göre filtreleme yapar.   **Örnek:** `member=25`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "2vyeuezrep0ju"
                }
            },
            "post": {
                "tags": [
                    "CurrentAccount"
                ],
                "summary": "CurrentAccount POST",
                "description": "CurrentAccount postAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CurrentAccount"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Oluşturma işlemi (POST) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CurrentAccount"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "nv3a5tuy1wadr"
                }
            }
        },
        "/api/current_accounts/{id}": {
            "get": {
                "tags": [
                    "CurrentAccount"
                ],
                "summary": "CurrentAccount GET",
                "description": "CurrentAccount getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CurrentAccount"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "wpaydjjfwhyzl"
                }
            },
            "put": {
                "tags": [
                    "CurrentAccount"
                ],
                "summary": "CurrentAccount PUT",
                "description": "CurrentAccount putAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CurrentAccount"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CurrentAccount"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "9nz6pliym9idu"
                }
            },
            "delete": {
                "tags": [
                    "CurrentAccount"
                ],
                "summary": "CurrentAccount DELETE",
                "description": "CurrentAccount deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Silme isteği başarı ile sonuçlandı. (cevapta içerik bulunmaz.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CurrentAccount"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "96fmyytue0et5"
                }
            }
        },
        "/api/distributors": {
            "get": {
                "tags": [
                    "Distributor"
                ],
                "summary": "Distributor LIST",
                "description": "Bu endpoint, sistemdeki distributor (entegrasyon/dağıtıcı) kayıtlarını listelemek veya belirli kriterlere göre filtrelemek için kullanılır.   Listeleme işlemi; sayfalama (`limit`, `page`), sıralama (`sort`), ID bazlı filtreleme (`id`, `ids`, `sinceId`) ve arama (`q`, `s`) parametreleriyle özelleştirilebilir.\n",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama parametresi.   - Artan sıralama için: `sort=id`   - Azalan sıralama için: `sort=-id`   Birden fazla alanla sıralama yapmak için virgülle ayırabilirsiniz.   **Örnek:** `sort=-createdAt,name`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Sayfa başına döndürülecek maksimum Distributor sayısı.   **Varsayılan:** 20   **Örnek:** `limit=50`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Listelenecek sayfa numarası.   **Varsayılan:** 1   **Örnek:** `page=2`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Belirtilen ID değerinden sonraki kayıtları getirir. **Örnek:** `sinceId=100`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Birden fazla Distributor kaydını aynı anda listelemek için virgülle ayrılmış ID değerleri.   **Örnek:** `ids=1,2,3,4`\n",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Distributor Name.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Distributor email.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Distributor phone",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contactPerson",
                        "in": "query",
                        "description": "Distributor Contact Person",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "24g5vzka6bckh"
                }
            },
            "post": {
                "tags": [
                    "Distributor"
                ],
                "summary": "Distributor POST",
                "description": "Distributor postAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Distributor"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Oluşturma işlemi (POST) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Distributor"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "1aih4wu8bexq1"
                }
            }
        },
        "/api/distributors/{id}": {
            "get": {
                "tags": [
                    "Distributor"
                ],
                "summary": "Distributor GET",
                "description": "Distributor getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Distributor"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "d1eqpsfvl73t5"
                }
            },
            "put": {
                "tags": [
                    "Distributor"
                ],
                "summary": "Distributor PUT",
                "description": "Distributor putAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Distributor"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Distributor"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "rd0x5v5p0xdi7"
                }
            },
            "delete": {
                "tags": [
                    "Distributor"
                ],
                "summary": "Distributor DELETE",
                "description": "Distributor deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Silme isteği başarı ile sonuçlandı. (cevapta içerik bulunmaz.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Distributor"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "j81djbzw01x7k"
                }
            }
        },
        "/api/distributor_to_products": {
            "get": {
                "tags": [
                    "DistributorToProduct"
                ],
                "summary": "DistributorToProduct LIST",
                "description": "DistributorToProduct cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": {
                            "Sıralama değeri. Örnek": "Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>"
                        },
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek sonuç adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Yalnızca belirtilen id değerinden sonraki kayıtları getirir",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": {
[...]
